.wrapper {
  width: 80%;
  min-height: 500px;
  margin: 0 auto;
  background-color: #616161;
  border-radius: 5px;
  padding-bottom: 10px;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    border-radius: 0;
  }
}
