.All,
.Remaining,
.Completed {
  width: 33.333333%;
  line-height: 40px;
  border-radius: 5px;
  background-color: #e6e6e6;
  font-size: 20px;
  border: none;
}
.active {
  width: 33.333333%;
  line-height: 40px;
  border-radius: 5px;
  background-color: #e6e6e6;
  font-size: 20px;
  background-color: gray;
  color: white;
  border: none;
}

@media screen and (max-width: 480px) {
  .All,
  .Remaining,
  .Completed,
  .active {
    font-size: 15px;
  }
}
