ul {
  list-style: none;
}
ul li::before {
  content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-size: 20px;
  font-weight: bolder; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 20px; /* Also needed for space (tweak if needed) */
  margin-left: -30px; /* Also needed for space (tweak if needed) */
}
.task-list {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  color: #e6e6e6;
}
.complete {
  text-decoration: line-through;
  color: #4e4e50;
}
.menu {
  width: 200px;
  float: right;
  text-align: center;
}
