.input-form {
  width: 100%;
  margin: 10px auto;
  background-color: white;
  border-radius: 5px;
}

.input-form input {
  width: 85%;
  line-height: 40px;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  padding-left: 2px;
}

.input-form button {
  float: right;
  font-size: 15px;
  line-height: 40px;
  width: 10%;
  border: none;
  border-radius: 5px;
  background-color: #cfd8dc;
}

.input-form button:hover {
  background-color: #b0bec5;
  color: white;
}

.edit-form {
  width: 75%;
  display: inline-block;
}

.edit-form input {
  width: 100%;
  border: none;
  font-size: 20px;
  line-height: 50px;
  border-radius: 5px;
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  .input-form button {
    width: 50px;
  }

  .input-form input {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .edit-form {
    width: 65%;
  }
  .menu {
    width: 30%;
  }
}
