* {
  padding: 0px;
  margin: 0px;
  font-family: arial;
}

.clearfix::after,
.clearfix::before {
  content: '';
  clear: both;
  display: table;
}

ul {
  width: 100%;
  list-style: none;
}

li {
  width: 100%;
  line-height: 50px;
  font-size: 25px;
  cursor: pointer;
  background-color: #e0e0e0;
  margin-bottom: 10px;
  border-radius: 5px;
}

.task-list {
  width: 75%;
  float: left;
  margin-left: 2px;
  color: #4e4e50;
  word-wrap: break-word;
}

.complete {
  text-decoration: line-through;
  color: #bdbdbd;
}

.menu {
  width: 20%;
  float: right;
  margin-right: 2px;
}

.no-results {
  text-align: center;
  font-size: 30px;
  color: gray;
  margin-top: 80px;
}
