.Edit,
.Delete {
  width: 50%;
  font-size: 15px;
  border-radius: 5px;
  line-height: 40px;
  border: none;
}

.Delete {
  background-color: #ef5350;
}

.Delete:hover {
  background-color: #d50000;
  color: white;
}

.Edit {
  background-color: #b0bec5;
}

.Edit:hover {
  background-color: #78909c;
  color: white;
}

@media screen and (max-width: 768px) {
  .Edit,
  .Delete {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .Edit,
  .Delete {
    font-size: 10px;
  }
}
