.Edit,
.Delete {
  width: 50%;
  font-size: 15px;
  line-height: 30px;
  border-radius: 5px;
}

.Delete {
  background-color: #ef5350;
}

.Delete:hover {
  background-color: #d50000;
}

.Edit {
  background-color: #b0bec5;
}

.Edit:hover {
  background-color: #78909c;
}
